body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


/* MY STYLES */

/* NAV */

.nav__top {
   list-style: none;
   display: flex;
   color: #40adcf;
   font-weight: bold;
}

.nav__top li {
   margin: 1em;
   transition: color 0.25s ease-in;
}

.nav__top li:hover,
.nav__top li:hover .icon {
  color: #ba8058;
  fill: #ba8058;
}

.nav__top li:hover .icon {
  transform: rotate(20deg) scale(1.2);
}

/* ICONS */

.icon {
  width: 1.1em;
  height: 1em;
  margin-right: 0.3em;
  transition: fill 0.25s ease-in 0s, transform 0.1s ease-in 0s;
  fill: #40adcf;
}


/* LOGO */

.logo {
  margin: 0 auto;
  display: block;
  width: 140px;
  height: 120px;
}

.logo-letters {
  display: none;
  fill: #ba8058;
  transition: transform 1s cubic-bezier(.3,1.63,.54,.9) 0.2s;
  transform-origin: 70px 70px;
}

.logo:hover .logo-letters {
  transform: rotate(360deg);
}

.logo-text {
  color: #ba8058;
  margin-top: 0;
  padding-left: 20px;
}


/* DOGGOS */


.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flexbox > * {
  width: 15em;
}

.doggo-box {
  margin: 0 auto;
}

.doggo-title {
  text-align: center;
  margin-top: 0;
}

.nose_and_eyes{fill:#2D3339;}
.brows{fill:#DA8058;}
.white{fill:#FBFEFF;}

.doggos--sable {
  color: #b97f5b;
}

.doggos--fawn {
  color: #e9aa82;
}

.doggos--red {
  color: #834b29;
}

.doggos--stone {
  color: #52595e;
}

/* MEDIA QUERIES */


@media (min-width: 425px) {

  body {
    background: #edeff0;
    background-image: url(svgs/background.svg);
    background-repeat:repeat;
  }

  .logo-text {
    display: none;
  }

  .logo-letters {
    display: inherit;
  }

  .logo {
    transition: transform 1s cubic-bezier(.3,1.63,.54,.9) 0.2s;
  }
}
